{{ 'component-quickview-button.css' | asset_url | stylesheet_tag }}

<div class="button-overlay"> 
    <button id="quickview" class="button button--primary" type="submit">{{ button_text }}</button>
</div>

