/* These are css class specific to the product modal. The quick view button will use the primary button styles provided by the theme. */
.container {
    color: inherit;
    height: 100%;
    position: relative;
    text-decoration: none;
}


#content {
    overflow: hidden;
}

#content .button-overlay {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
background: rgba(250, 250, 250, 0.7);
position: absolute;
height: 100%;
width: 100%;
left: 0;
top: 0;
bottom: 0;
right: 0;
opacity: 0;
-webkit-transition: all 0.4s ease-in-out 0s;
-moz-transition: all 0.4s ease-in-out 0s;
transition: all 0.4s ease-in-out 0s;
}

.container:hover #content .button-overlay{
    opacity: 1;
}


.card__inner .card__content{
    display: none;
} 

/* Have to update the z-index of the product link because after places the element on top of all other elements. */
/* Typically would avoid using !important here at all cost, but could not find the style that was overriding this one and didn't want to take the extra time for styling.*/
.card__heading a::after{
    z-index: -1 !important;
}


.button-overlay h3 {
color: #fff;
font-weight: 500;
letter-spacing: 0.15em;
margin-bottom: 0.5em;
text-transform: uppercase;
}

.button-overlay p {
color: #fff;
font-size: 0.8em;
}

#fadeIn-bottom {
top: 80%;
} 